<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <title>Sign Up</title>
  </head>
  <body>
    <h1 id="login">Sign Up</h1>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
    <form method="post" action="{{ url_for('signup') }}">
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password"><br>
      <br>
      <label for="confirm_password">Confirm Password:</label><br>
      <input type="password" id="confirm_password" name="confirm_password"><br>
      <br>
      <input type="submit" value="Sign Up">
    </form>
    {% include "footer.html" ignore missing %}
  </body>
</html>